.page {
  &__actions {
    $height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $height;
  }
  &__layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
}
