.page {
  &__actions {
    $height: 45px;
    display: inline-grid;
    grid-template-columns: 1fr;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
    @include laptop {
      height: $height;
      margin-bottom: unset;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    @include laptop {
      gap: 3rem;
      grid-template-columns: 1fr 1fr;
    }
  }
  &__buttons {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  &__title {
    margin: 1rem 0;
    padding: unset;
  }
}
