.button {
  @extend %round;
  $mobile-height: 40px;
  $desktop-height: 45px;
  padding: 1rem 1.5rem;
  background: $primary-color;
  color: $white;
  font-weight: $medium;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: background 0.15s ease-in-out;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 75px;
  height: $mobile-height;
  @include laptop {
    height: $desktop-height;
  }
  &:hover {
    background: $primary-color-dark;
  }
  &:active {
    opacity: 0.5;
  }
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &--round {
    @extend %round;
  }
  &--pill {
    border-radius: 2.5rem;
  }
  &--small {
    padding: 0.5rem;
    font-size: 0.8rem;
    line-height: unset;
    @include laptop {
      padding: 0.75rem;
    }
  }
  &--light {
    background: $primary-color-light;
    &:hover {
      background: lighten($primary-color-light, 1.75);
    }
  }
  &--secondary {
    background: $secondary-color;
    &:hover {
      background: $secondary-color-dark;
    }
  }
  &--tertiary {
    background: $tertiary-color;
    &:hover {
      background: $tertiary-color-dark;
    }
  }
  &--delete {
    background: #e76767;
    &:hover {
      background: #c45252;
    }
  }
  &--edit {
    background: #a7a7a7;
    &:hover {
      background: #858585;
    }
  }
  &--inline {
    margin-left: 1rem;
  }
}
