.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  width: 75px;
  &--inline {
    position: static;
    transform: unset;
    top: unset;
    left: unset;
    width: 35px;
    opacity: 0.75;
  }
}
